<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Raw Data</title>
 
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>  
  <link rel="stylesheet" href="../static/css/style_chart_pages.css">
  <script src="../static/js/app.js"></script>
</head>

<body>
   <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" role="navigation">
        <div class="container-fluid">
          <a class="navbar-brand" ></a>
          <div class="logo">
					<a href="/index.html"><img src="../static/img/tbd-logo2.png" alt="TBD Logo"></a>
				</div>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-left" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home</a>
                </li>
    
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Visualizations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="US_OD.html">US Overdose Deaths</a>
                      <a class="dropdown-item" href="US_OP.html">US Opioid Deaths</a>
                      <a class="dropdown-item" href="states_map.html">US Map</a>
                    </div>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
              </ul>
            </div>
        </div>
      </nav>  

			  <body>
				<h1>Datasets</h1>
				<p>Below are the cleaned CSV datasets used for this project as we looked for the following information:</p>
				<ul>
						<li>US Total Drug Overdose Deaths vs Death Rates</li>
						<li>US Drug Overdose Deaths vs Death Rates by Gender</li>
						<li>US Total Opioid Related Overdose Deaths vs Death Rates</li>
						<li>US Opioid Related Overdose Deaths vs Death Rates by Gender</li>
						<li>US Total Drug Overdose Deaths & Rates by State</li>
					  </ul>
				<br>
				<h2>National Drug Overdose Deaths & Death Rates</h2>
				<p>The following cleaned CSV dataset was taken from the supporting 
					Excel (.xlsx) data document for the National Institute of Drug Abuse's
					<a href="https://www.drugabuse.gov/related-topics/trends-statistics/overdose-death-rates">
					Overdose Death Rates</a> report. The report's timeline spanned from 1999-2016.</p> 
				<p>The original Excel file had two separate Worksheets: <i>National 
					Overdose Deaths from Prescription & Illicit Drugs</i> and <i>National Overdose Death Rates</i>.
					The worksheets were merged as one and extra columns that did not pertain to overall and gender specific information were dropped.</p> 
				<p>Next the existing Columns and Rows were transposed for X-Axis and Y-Axis placement so they may be easily visualized for the two Bar/Line Combo charts. 
				   The new Column headers were also reformatted so they could be easily read when converting into a SQLite database. Lastly, the cleaned Excel file was saved as a Comma Delimited (.csv) file.</p>
				<p>The new CSV file was then imported into the SQLite database as the <b>national</b> table for the <b>Opioid_OD</b> schema. Initially, we used the <a href="https://sqlite.org/cli.html">sqlite3</a> tool for the importation. 
					However, there were issues where the numeric cells were being listed as a TEXT data type. This was resolved by correcting the data types for the Death Rate columns as a FLOAT and the Death columns as a INTEGER using the
				    <a href="http://sqlitebrowser.org/">DB Browser for SQLite</a> tool. Also the <b>year</b> column was set as the Primary Key.</p>   
				<table class="table table-hover table-striped" border="1">
					<thead>
						<tr>
							<th>year</th>
							<th>Total_OD_Deaths</th>
							<th>OD_Death_Rate</th>
							<th>Any_Opiod_DR</th>
							<th>Prescr_Opiods_DR</th>
							<th>Heroin_DR</th>
							<th>Fentanyl_DR</th>
							<th>Both_Opiods</th>
							<th>Both_Prescr_Opiods</th>
							<th>Both_Heroin</th>
							<th>Both_Fentanyl</th>
							<th>Both_Opium & Other</th>
							<th>Both_Cocaine</th>
							<th>Both_Methamphetamine</th>
							<th>Both_Benzodiazepines</th>
							<th>Both_Antidepressants</th>
							<th>Both_Other</th>
							<th>Both_Total Overdoses</th>
							<th>M_Opiods</th>
							<th>M_Prescr_Opiods</th>
							<th>M_Heroin</th>
							<th>M_Fentanyl</th>
							<th>M_Opium & Other</th>
							<th>M_Cocaine</th>
							<th>M_Methamphetamine</th>
							<th>M_Benzodiazepines</th>
							<th>M_Antidepressants</th>
							<th>M_Other</th>
							<th>M_Total Overdoses</th>
							<th>F_Opiods</th>
							<th>F_Prescr_Opiods</th>
							<th>F_Heroin</th>
							<th>F_Fentanyl</th>
							<th>F_Opium & Other</th>
							<th>F_Cocaine</th>
							<th>F_Methamphetamine</th>
							<th>F_Benzodiazepines</th>
							<th>F_Antidepressants</th>
							<th>F_Other</th>
							<th>F_Total Overdoses</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1999</td>
							<td>16849</td>
							<td>6.1</td>
							<td>2.9</td>
							<td>1.2</td>
							<td>0.7</td>
							<td>0.3</td>
							<td>8048</td>
							<td>3300</td>
							<td>1945</td>
							<td>730</td>
							<td>2073</td>
							<td>1858</td>
							<td>360</td>
							<td>434</td>
							<td>1138</td>
							<td>5011</td>
							<td>16849</td>
							<td>5991</td>
							<td>2343</td>
							<td>1643</td>
							<td>400</td>
							<td>1605</td>
							<td>1407</td>
							<td>248</td>
							<td>247</td>
							<td>524</td>
							<td>2841</td>
							<td>11258</td>
							<td>2057</td>
							<td>957</td>
							<td>302</td>
							<td>330</td>
							<td>468</td>
							<td>451</td>
							<td>112</td>
							<td>187</td>
							<td>614</td>
							<td>2170</td>
							<td>5591</td>
						</tr>
						<tr>
							<td>2000</td>
							<td>17415</td>
							<td>6.2</td>
							<td>3</td>
							<td>1.3</td>
							<td>0.7</td>
							<td>0.3</td>
							<td>8407</td>
							<td>3618</td>
							<td>1824</td>
							<td>782</td>
							<td>2183</td>
							<td>1710</td>
							<td>376</td>
							<td>406</td>
							<td>1119</td>
							<td>5397</td>
							<td>17415</td>
							<td>6143</td>
							<td>2458</td>
							<td>1552</td>
							<td>408</td>
							<td>1725</td>
							<td>1254</td>
							<td>261</td>
							<td>236</td>
							<td>522</td>
							<td>3147</td>
							<td>11563</td>
							<td>2264</td>
							<td>1160</td>
							<td>272</td>
							<td>374</td>
							<td>458</td>
							<td>456</td>
							<td>115</td>
							<td>170</td>
							<td>597</td>
							<td>2250</td>
							<td>5852</td>
						</tr>
						<tr>
							<td>2001</td>
							<td>19394</td>
							<td>6.8</td>
							<td>3.3</td>
							<td>1.7</td>
							<td>0.6</td>
							<td>0.3</td>
							<td>9492</td>
							<td>4571</td>
							<td>1764</td>
							<td>957</td>
							<td>2200</td>
							<td>1947</td>
							<td>399</td>
							<td>473</td>
							<td>1127</td>
							<td>5956</td>
							<td>19394</td>
							<td>6726</td>
							<td>3049</td>
							<td>1455</td>
							<td>510</td>
							<td>1712</td>
							<td>1443</td>
							<td>289</td>
							<td>270</td>
							<td>544</td>
							<td>3386</td>
							<td>12658</td>
							<td>2766</td>
							<td>1522</td>
							<td>309</td>
							<td>447</td>
							<td>488</td>
							<td>504</td>
							<td>110</td>
							<td>203</td>
							<td>583</td>
							<td>2570</td>
							<td>6736</td>
						</tr>
						<tr>
							<td>2002</td>
							<td>23518</td>
							<td>8.2</td>
							<td>4.1</td>
							<td>2.3</td>
							<td>0.7</td>
							<td>0.4</td>
							<td>11917</td>
							<td>6161</td>
							<td>2074</td>
							<td>1295</td>
							<td>2387</td>
							<td>2281</td>
							<td>616</td>
							<td>511</td>
							<td>1222</td>
							<td>6971</td>
							<td>23518</td>
							<td>8158</td>
							<td>4014</td>
							<td>1720</td>
							<td>681</td>
							<td>1743</td>
							<td>1698</td>
							<td>445</td>
							<td>301</td>
							<td>538</td>
							<td>3888</td>
							<td>15028</td>
							<td>3759</td>
							<td>2147</td>
							<td>354</td>
							<td>614</td>
							<td>644</td>
							<td>583</td>
							<td>171</td>
							<td>210</td>
							<td>684</td>
							<td>3083</td>
							<td>8490</td>
						</tr>
						<tr>
							<td>2003</td>
							<td>25785</td>
							<td>8.9</td>
							<td>4.5</td>
							<td>2.6</td>
							<td>0.7</td>
							<td>0.5</td>
							<td>12939</td>
							<td>7117</td>
							<td>2064</td>
							<td>1400</td>
							<td>2358</td>
							<td>2743</td>
							<td>820</td>
							<td>556</td>
							<td>1278</td>
							<td>7449</td>
							<td>25785</td>
							<td>8802</td>
							<td>4587</td>
							<td>1709</td>
							<td>757</td>
							<td>1749</td>
							<td>2024</td>
							<td>586</td>
							<td>291</td>
							<td>586</td>
							<td>4110</td>
							<td>16399</td>
							<td>4137</td>
							<td>2530</td>
							<td>355</td>
							<td>643</td>
							<td>609</td>
							<td>719</td>
							<td>234</td>
							<td>265</td>
							<td>692</td>
							<td>3339</td>
							<td>9386</td>
						</tr>
						<tr>
							<td>2004</td>
							<td>27424</td>
							<td>9.4</td>
							<td>4.7</td>
							<td>2.9</td>
							<td>0.6</td>
							<td>0.6</td>
							<td>13755</td>
							<td>8193</td>
							<td>1865</td>
							<td>1664</td>
							<td>2033</td>
							<td>2921</td>
							<td>898</td>
							<td>578</td>
							<td>1379</td>
							<td>7893</td>
							<td>27424</td>
							<td>9113</td>
							<td>5233</td>
							<td>1530</td>
							<td>866</td>
							<td>1484</td>
							<td>2150</td>
							<td>633</td>
							<td>296</td>
							<td>592</td>
							<td>4336</td>
							<td>17120</td>
							<td>4642</td>
							<td>2960</td>
							<td>335</td>
							<td>798</td>
							<td>549</td>
							<td>771</td>
							<td>265</td>
							<td>282</td>
							<td>787</td>
							<td>3557</td>
							<td>10304</td>
						</tr>
						<tr>
							<td>2005</td>
							<td>29813</td>
							<td>10.1</td>
							<td>5.1</td>
							<td>3.2</td>
							<td>0.7</td>
							<td>0.6</td>
							<td>14917</td>
							<td>9186</td>
							<td>1975</td>
							<td>1742</td>
							<td>2014</td>
							<td>3366</td>
							<td>1132</td>
							<td>654</td>
							<td>1353</td>
							<td>8391</td>
							<td>29813</td>
							<td>9756</td>
							<td>5821</td>
							<td>1595</td>
							<td>919</td>
							<td>1421</td>
							<td>2483</td>
							<td>839</td>
							<td>367</td>
							<td>584</td>
							<td>4695</td>
							<td>18724</td>
							<td>5161</td>
							<td>3365</td>
							<td>380</td>
							<td>823</td>
							<td>593</td>
							<td>883</td>
							<td>293</td>
							<td>287</td>
							<td>769</td>
							<td>3696</td>
							<td>11089</td>
						</tr>
						<tr>
							<td>2006</td>
							<td>34425</td>
							<td>11.5</td>
							<td>5.9</td>
							<td>3.9</td>
							<td>0.7</td>
							<td>0.9</td>
							<td>17545</td>
							<td>11016</td>
							<td>1975</td>
							<td>2707</td>
							<td>1847</td>
							<td>4076</td>
							<td>936</td>
							<td>790</td>
							<td>1471</td>
							<td>9607</td>
							<td>34425</td>
							<td>11600</td>
							<td>6988</td>
							<td>1656</td>
							<td>1677</td>
							<td>1279</td>
							<td>3061</td>
							<td>695</td>
							<td>455</td>
							<td>598</td>
							<td>5484</td>
							<td>21893</td>
							<td>5945</td>
							<td>4028</td>
							<td>319</td>
							<td>1030</td>
							<td>568</td>
							<td>1015</td>
							<td>241</td>
							<td>335</td>
							<td>873</td>
							<td>4123</td>
							<td>12532</td>
						</tr>
						<tr>
							<td>2007</td>
							<td>36010</td>
							<td>11.9</td>
							<td>6.1</td>
							<td>4.2</td>
							<td>0.8</td>
							<td>0.7</td>
							<td>18515</td>
							<td>12195</td>
							<td>2386</td>
							<td>2213</td>
							<td>1721</td>
							<td>3485</td>
							<td>905</td>
							<td>895</td>
							<td>1524</td>
							<td>10686</td>
							<td>36010</td>
							<td>11934</td>
							<td>7618</td>
							<td>1990</td>
							<td>1160</td>
							<td>1166</td>
							<td>2604</td>
							<td>646</td>
							<td>474</td>
							<td>660</td>
							<td>5980</td>
							<td>22298</td>
							<td>6581</td>
							<td>4577</td>
							<td>396</td>
							<td>1053</td>
							<td>555</td>
							<td>881</td>
							<td>259</td>
							<td>421</td>
							<td>864</td>
							<td>4706</td>
							<td>13712</td>
						</tr>
						<tr>
							<td>2008</td>
							<td>36450</td>
							<td>11.9</td>
							<td>6.4</td>
							<td>4.3</td>
							<td>1</td>
							<td>0.8</td>
							<td>19582</td>
							<td>12494</td>
							<td>3013</td>
							<td>2306</td>
							<td>1769</td>
							<td>2473</td>
							<td>807</td>
							<td>940</td>
							<td>1499</td>
							<td>11149</td>
							<td>36450</td>
							<td>12763</td>
							<td>7844</td>
							<td>2475</td>
							<td>1223</td>
							<td>1221</td>
							<td>1846</td>
							<td>583</td>
							<td>512</td>
							<td>651</td>
							<td>6113</td>
							<td>22468</td>
							<td>6819</td>
							<td>4650</td>
							<td>538</td>
							<td>1083</td>
							<td>548</td>
							<td>627</td>
							<td>224</td>
							<td>428</td>
							<td>848</td>
							<td>5036</td>
							<td>13982</td>
						</tr>
						<tr>
							<td>2009</td>
							<td>37004</td>
							<td>11.9</td>
							<td>6.6</td>
							<td>4.4</td>
							<td>1.1</td>
							<td>1</td>
							<td>20422</td>
							<td>12651</td>
							<td>3249</td>
							<td>2946</td>
							<td>1576</td>
							<td>2140</td>
							<td>978</td>
							<td>934</td>
							<td>1476</td>
							<td>11054</td>
							<td>37004</td>
							<td>13135</td>
							<td>7883</td>
							<td>2682</td>
							<td>1501</td>
							<td>1069</td>
							<td>1573</td>
							<td>696</td>
							<td>506</td>
							<td>651</td>
							<td>6032</td>
							<td>22593</td>
							<td>7287</td>
							<td>4768</td>
							<td>567</td>
							<td>1445</td>
							<td>507</td>
							<td>567</td>
							<td>282</td>
							<td>428</td>
							<td>825</td>
							<td>5022</td>
							<td>14411</td>
						</tr>
						<tr>
							<td>2010</td>
							<td>38329</td>
							<td>12.3</td>
							<td>6.8</td>
							<td>4.7</td>
							<td>1</td>
							<td>1</td>
							<td>21088</td>
							<td>13644</td>
							<td>2991</td>
							<td>3007</td>
							<td>1446</td>
							<td>2097</td>
							<td>1214</td>
							<td>980</td>
							<td>1500</td>
							<td>11450</td>
							<td>38329</td>
							<td>13355</td>
							<td>8453</td>
							<td>2415</td>
							<td>1567</td>
							<td>920</td>
							<td>1537</td>
							<td>877</td>
							<td>526</td>
							<td>660</td>
							<td>6051</td>
							<td>23006</td>
							<td>7733</td>
							<td>5191</td>
							<td>576</td>
							<td>1440</td>
							<td>526</td>
							<td>560</td>
							<td>337</td>
							<td>454</td>
							<td>840</td>
							<td>5399</td>
							<td>15323</td>
						</tr>
						<tr>
							<td>2011</td>
							<td>41340</td>
							<td>13.2</td>
							<td>7.3</td>
							<td>4.9</td>
							<td>1.4</td>
							<td>0.8</td>
							<td>22784</td>
							<td>14251</td>
							<td>4353</td>
							<td>2666</td>
							<td>1514</td>
							<td>2176</td>
							<td>1390</td>
							<td>1046</td>
							<td>1612</td>
							<td>12332</td>
							<td>41340</td>
							<td>14459</td>
							<td>8595</td>
							<td>3486</td>
							<td>1419</td>
							<td>959</td>
							<td>1608</td>
							<td>1013</td>
							<td>552</td>
							<td>658</td>
							<td>6698</td>
							<td>24988</td>
							<td>8325</td>
							<td>5656</td>
							<td>867</td>
							<td>1247</td>
							<td>555</td>
							<td>568</td>
							<td>377</td>
							<td>494</td>
							<td>954</td>
							<td>5634</td>
							<td>16352</td>
						</tr>
						<tr>
							<td>2012</td>
							<td>41502</td>
							<td>13.1</td>
							<td>7.4</td>
							<td>4.5</td>
							<td>1.9</td>
							<td>0.8</td>
							<td>23164</td>
							<td>13379</td>
							<td>5856</td>
							<td>2628</td>
							<td>1301</td>
							<td>1956</td>
							<td>1642</td>
							<td>1024</td>
							<td>1723</td>
							<td>11993</td>
							<td>41502</td>
							<td>14733</td>
							<td>7829</td>
							<td>4662</td>
							<td>1433</td>
							<td>809</td>
							<td>1414</td>
							<td>1204</td>
							<td>518</td>
							<td>724</td>
							<td>6519</td>
							<td>25112</td>
							<td>8431</td>
							<td>5550</td>
							<td>1194</td>
							<td>1195</td>
							<td>492</td>
							<td>542</td>
							<td>438</td>
							<td>506</td>
							<td>999</td>
							<td>5474</td>
							<td>16390</td>
						</tr>
						<tr>
							<td>2013</td>
							<td>43982</td>
							<td>13.8</td>
							<td>7.9</td>
							<td>4.4</td>
							<td>2.7</td>
							<td>1</td>
							<td>25050</td>
							<td>13130</td>
							<td>8048</td>
							<td>3105</td>
							<td>767</td>
							<td>2113</td>
							<td>2273</td>
							<td>1104</td>
							<td>1695</td>
							<td>11747</td>
							<td>43982</td>
							<td>15996</td>
							<td>7569</td>
							<td>6374</td>
							<td>1674</td>
							<td>379</td>
							<td>1540</td>
							<td>1658</td>
							<td>563</td>
							<td>686</td>
							<td>6356</td>
							<td>26799</td>
							<td>9054</td>
							<td>5561</td>
							<td>1674</td>
							<td>1431</td>
							<td>388</td>
							<td>573</td>
							<td>615</td>
							<td>541</td>
							<td>1009</td>
							<td>5391</td>
							<td>17183</td>
						</tr>
						<tr>
							<td>2014</td>
							<td>47055</td>
							<td>14.7</td>
							<td>9</td>
							<td>4.6</td>
							<td>3.4</td>
							<td>1.8</td>
							<td>28647</td>
							<td>13349</td>
							<td>9547</td>
							<td>5544</td>
							<td>207</td>
							<td>2001</td>
							<td>2492</td>
							<td>1212</td>
							<td>1785</td>
							<td>10918</td>
							<td>47055</td>
							<td>18420</td>
							<td>7504</td>
							<td>7408</td>
							<td>3465</td>
							<td>43</td>
							<td>1439</td>
							<td>1824</td>
							<td>601</td>
							<td>695</td>
							<td>5833</td>
							<td>28812</td>
							<td>10227</td>
							<td>5845</td>
							<td>2139</td>
							<td>2079</td>
							<td>164</td>
							<td>562</td>
							<td>668</td>
							<td>611</td>
							<td>1090</td>
							<td>5085</td>
							<td>18243</td>
						</tr>
						<tr>
							<td>2015</td>
							<td>52404</td>
							<td>16.3</td>
							<td>10.4</td>
							<td>4.7</td>
							<td>4.1</td>
							<td>3.1</td>
							<td>33091</td>
							<td>13018</td>
							<td>10304</td>
							<td>9580</td>
							<td>189</td>
							<td>2278</td>
							<td>3371</td>
							<td>1306</td>
							<td>1832</td>
							<td>10526</td>
							<td>52404</td>
							<td>21671</td>
							<td>7252</td>
							<td>7866</td>
							<td>6560</td>
							<td>-7</td>
							<td>1640</td>
							<td>2445</td>
							<td>664</td>
							<td>681</td>
							<td>5856</td>
							<td>32957</td>
							<td>11420</td>
							<td>5766</td>
							<td>2438</td>
							<td>3020</td>
							<td>196</td>
							<td>638</td>
							<td>926</td>
							<td>642</td>
							<td>1151</td>
							<td>4670</td>
							<td>19447</td>
						</tr>
						<tr>
							<td>2016</td>
							<td>63632</td>
							<td>19.8</td>
							<td>13.3</td>
							<td>5.2</td>
							<td>4.9</td>
							<td>6.2</td>
							<td>42249</td>
							<td>13032</td>
							<td>9688</td>
							<td>19413</td>
							<td>116</td>
							<td>3112</td>
							<td>4126</td>
							<td>1451</td>
							<td>1852</td>
							<td>10842</td>
							<td>63632</td>
							<td>28498</td>
							<td>7317</td>
							<td>7401</td>
							<td>13835</td>
							<td>-55</td>
							<td>2278</td>
							<td>3004</td>
							<td>815</td>
							<td>736</td>
							<td>6227</td>
							<td>41558</td>
							<td>13751</td>
							<td>5715</td>
							<td>2287</td>
							<td>5578</td>
							<td>171</td>
							<td>834</td>
							<td>1122</td>
							<td>636</td>
							<td>1116</td>
							<td>4615</td>
							<td>22074</td>
						</tr>
						<tr>
							<td></td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
							<td>&nbsp</td>
						</tr>
					</tbody>
				</table>
					<p>Dataset taken from <cite>"Overdose Death Rates", 
						National Institute on Drug Abuse Trends & Statistics, National Institute on Drug Abuse: 
						NIH, Last Revised Aug. 2018, www.drugabuse.gov/. Accessed 28 Sept. 2018. 
						Path: <a href="https://www.drugabuse.gov/related-topics/trends-statistics/overdose-death-rates">https://www.drugabuse.gov/related-topics/trends-statistics/overdose-death-rates</a></cite>
					</p>
				<hr>
				<h2>State Drug Overdose Deaths & Death Rates</h2>
				<p>The following cleaned CSV dataset was taken from the supporting 
						CSV data documents for the Center for Disease Control and Prevention (CDC)'s
						<a href="https://www.cdc.gov/nchs/pressroom/sosmap/drug_poisoning_mortality/drug_poisoning.htm">
						Drug Overdose Mortality by State</a> report. The report's timeline looked at the particular years: 1999, 2005, 2014, 2015 and 2016.</p> 
					<p>The original CSV files were five separate Workbooks. The workbooks were first merged as one and extra columns that did not pertain to deaths and death rates specific information were dropped. Also a new column named, <b>ID</b>, was added as the first column in the data file. This column would have unique TEXT type values added.</p> 
					<p>The new CSV file was then imported into the SQLite database as the <b>state</b> table for the <b>Opioid_OD</b> schema. Initially, we used the <a href="https://sqlite.org/cli.html">sqlite3</a> tool for the addition. 
						However, there were issues where the numeric cells were being listed as a TEXT data type. This was resolved by correcting the data types for the Death Rate columns as a FLOAT and the Death columns as a INTEGER using the
						<a href="http://sqlitebrowser.org/">DB Browser for SQLite</a> tool. Also the <i>ID</i> column was set as the Primary Key.</p>
				<table class="table table-hover table-striped" border="1">
						<thead>
							<tr>
								<th>ID</th>
								<th>year</th>
								<th>state</th>
								<th>rate</th>
								<th>deaths</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1999_AL</td>
								<td>1999</td>
								<td>AL</td>
								<td>3.9</td>
								<td>169</td>
							</tr>
							<tr>
								<td>1999_AK</td>
								<td>1999</td>
								<td>AK</td>
								<td>7.5</td>
								<td>46</td>
							</tr>
							<tr>
								<td>1999_AZ</td>
								<td>1999</td>
								<td>AZ</td>
								<td>10.6</td>
								<td>511</td>
							</tr>
							<tr>
								<td>1999_AR</td>
								<td>1999</td>
								<td>AR</td>
								<td>4.4</td>
								<td>113</td>
							</tr>
							<tr>
								<td>1999_CA</td>
								<td>1999</td>
								<td>CA</td>
								<td>8.1</td>
								<td>2662</td>
							</tr>
							<tr>
								<td>1999_CO</td>
								<td>1999</td>
								<td>CO</td>
								<td>8</td>
								<td>349</td>
							</tr>
							<tr>
								<td>1999_CT</td>
								<td>1999</td>
								<td>CT</td>
								<td>9</td>
								<td>310</td>
							</tr>
							<tr>
								<td>1999_DE</td>
								<td>1999</td>
								<td>DE</td>
								<td>6.4</td>
								<td>50</td>
							</tr>
							<tr>
								<td>1999_FL</td>
								<td>1999</td>
								<td>FL</td>
								<td>6.4</td>
								<td>997</td>
							</tr>
							<tr>
								<td>1999_GA</td>
								<td>1999</td>
								<td>GA</td>
								<td>3.5</td>
								<td>283</td>
							</tr>
							<tr>
								<td>1999_HI</td>
								<td>1999</td>
								<td>HI</td>
								<td>6.5</td>
								<td>80</td>
							</tr>
							<tr>
								<td>1999_ID</td>
								<td>1999</td>
								<td>ID</td>
								<td>5.3</td>
								<td>64</td>
							</tr>
							<tr>
								<td>1999_IL</td>
								<td>1999</td>
								<td>IL</td>
								<td>6.7</td>
								<td>825</td>
							</tr>
							<tr>
								<td>1999_IN</td>
								<td>1999</td>
								<td>IN</td>
								<td>3.2</td>
								<td>191</td>
							</tr>
							<tr>
								<td>1999_IA</td>
								<td>1999</td>
								<td>IA</td>
								<td>1.9</td>
								<td>53</td>
							</tr>
							<tr>
								<td>1999_KS</td>
								<td>1999</td>
								<td>KS</td>
								<td>3.4</td>
								<td>89</td>
							</tr>
							<tr>
								<td>1999_KY</td>
								<td>1999</td>
								<td>KY</td>
								<td>4.9</td>
								<td>197</td>
							</tr>
							<tr>
								<td>1999_LA</td>
								<td>1999</td>
								<td>LA</td>
								<td>4.3</td>
								<td>188</td>
							</tr>
							<tr>
								<td>1999_ME</td>
								<td>1999</td>
								<td>ME</td>
								<td>5.3</td>
								<td>67</td>
							</tr>
							<tr>
								<td>1999_MD</td>
								<td>1999</td>
								<td>MD</td>
								<td>11.4</td>
								<td>629</td>
							</tr>
							<tr>
								<td>1999_MA</td>
								<td>1999</td>
								<td>MA</td>
								<td>7.5</td>
								<td>488</td>
							</tr>
							<tr>
								<td>1999_MI</td>
								<td>1999</td>
								<td>MI</td>
								<td>4.6</td>
								<td>460</td>
							</tr>
							<tr>
								<td>1999_MN</td>
								<td>1999</td>
								<td>MN</td>
								<td>2.8</td>
								<td>136</td>
							</tr>
							<tr>
								<td>1999_MS</td>
								<td>1999</td>
								<td>MS</td>
								<td>3.2</td>
								<td>87</td>
							</tr>
							<tr>
								<td>1999_MO</td>
								<td>1999</td>
								<td>MO</td>
								<td>5</td>
								<td>276</td>
							</tr>
							<tr>
								<td>1999_MT</td>
								<td>1999</td>
								<td>MT</td>
								<td>4.6</td>
								<td>41</td>
							</tr>
							<tr>
								<td>1999_NE</td>
								<td>1999</td>
								<td>NE</td>
								<td>2.3</td>
								<td>39</td>
							</tr>
							<tr>
								<td>1999_NV</td>
								<td>1999</td>
								<td>NV</td>
								<td>11.5</td>
								<td>227</td>
							</tr>
							<tr>
								<td>1999_NH</td>
								<td>1999</td>
								<td>NH</td>
								<td>4.3</td>
								<td>54</td>
							</tr>
							<tr>
								<td>1999_NJ</td>
								<td>1999</td>
								<td>NJ</td>
								<td>6.5</td>
								<td>557</td>
							</tr>
							<tr>
								<td>1999_NM</td>
								<td>1999</td>
								<td>NM</td>
								<td>15</td>
								<td>266</td>
							</tr>
							<tr>
								<td>1999_NY</td>
								<td>1999</td>
								<td>NY</td>
								<td>5</td>
								<td>959</td>
							</tr>
							<tr>
								<td>1999_NC</td>
								<td>1999</td>
								<td>NC</td>
								<td>4.6</td>
								<td>366</td>
							</tr>
							<tr>
								<td>1999_ND</td>
								<td>1999</td>
								<td>ND</td>
								<td>0</td>
								<td>12</td>
							</tr>
							<tr>
								<td>1999_OH</td>
								<td>1999</td>
								<td>OH</td>
								<td>4.2</td>
								<td>467</td>
							</tr>
							<tr>
								<td>1999_OK</td>
								<td>1999</td>
								<td>OK</td>
								<td>5.4</td>
								<td>178</td>
							</tr>
							<tr>
								<td>1999_OR</td>
								<td>1999</td>
								<td>OR</td>
								<td>6.1</td>
								<td>210</td>
							</tr>
							<tr>
								<td>1999_PA</td>
								<td>1999</td>
								<td>PA</td>
								<td>8.1</td>
								<td>990</td>
							</tr>
							<tr>
								<td>1999_RI</td>
								<td>1999</td>
								<td>RI</td>
								<td>5.5</td>
								<td>58</td>
							</tr>
							<tr>
								<td>1999_SC</td>
								<td>1999</td>
								<td>SC</td>
								<td>3.7</td>
								<td>147</td>
							</tr>
							<tr>
								<td>1999_SD</td>
								<td>1999</td>
								<td>SD</td>
								<td>0</td>
								<td>17</td>
							</tr>
							<tr>
								<td>1999_TN</td>
								<td>1999</td>
								<td>TN</td>
								<td>6.1</td>
								<td>344</td>
							</tr>
							<tr>
								<td>1999_TX</td>
								<td>1999</td>
								<td>TX</td>
								<td>5.4</td>
								<td>1087</td>
							</tr>
							<tr>
								<td>1999_UT</td>
								<td>1999</td>
								<td>UT</td>
								<td>10.6</td>
								<td>205</td>
							</tr>
							<tr>
								<td>1999_VT</td>
								<td>1999</td>
								<td>VT</td>
								<td>4.7</td>
								<td>29</td>
							</tr>
							<tr>
								<td>1999_VA</td>
								<td>1999</td>
								<td>VA</td>
								<td>5</td>
								<td>366</td>
							</tr>
							<tr>
								<td>1999_WA</td>
								<td>1999</td>
								<td>WA</td>
								<td>9.3</td>
								<td>555</td>
							</tr>
							<tr>
								<td>1999_WV</td>
								<td>1999</td>
								<td>WV</td>
								<td>4.1</td>
								<td>75</td>
							</tr>
							<tr>
								<td>1999_WI</td>
								<td>1999</td>
								<td>WI</td>
								<td>4</td>
								<td>212</td>
							</tr>
							<tr>
								<td>1999_WY</td>
								<td>1999</td>
								<td>WY</td>
								<td>4.1</td>
								<td>20</td>
							</tr>
							<tr>
								<td>2005_AL</td>
								<td>2005</td>
								<td>AL</td>
								<td>6.3</td>
								<td>283</td>
							</tr>
							<tr>
								<td>2005_AK</td>
								<td>2005</td>
								<td>AK</td>
								<td>11.4</td>
								<td>79</td>
							</tr>
							<tr>
								<td>2005_AZ</td>
								<td>2005</td>
								<td>AZ</td>
								<td>14.1</td>
								<td>794</td>
							</tr>
							<tr>
								<td>2005_AR</td>
								<td>2005</td>
								<td>AR</td>
								<td>10.1</td>
								<td>269</td>
							</tr>
							<tr>
								<td>2005_CA</td>
								<td>2005</td>
								<td>CA</td>
								<td>9</td>
								<td>3214</td>
							</tr>
							<tr>
								<td>2005_CO</td>
								<td>2005</td>
								<td>CO</td>
								<td>12.7</td>
								<td>608</td>
							</tr>
							<tr>
								<td>2005_CT</td>
								<td>2005</td>
								<td>CT</td>
								<td>8.5</td>
								<td>295</td>
							</tr>
							<tr>
								<td>2005_DE</td>
								<td>2005</td>
								<td>DE</td>
								<td>7.5</td>
								<td>62</td>
							</tr>
							<tr>
								<td>2005_FL</td>
								<td>2005</td>
								<td>FL</td>
								<td>13.5</td>
								<td>2371</td>
							</tr>
							<tr>
								<td>2005_GA</td>
								<td>2005</td>
								<td>GA</td>
								<td>8.2</td>
								<td>738</td>
							</tr>
							<tr>
								<td>2005_HI</td>
								<td>2005</td>
								<td>HI</td>
								<td>9.4</td>
								<td>126</td>
							</tr>
							<tr>
								<td>2005_ID</td>
								<td>2005</td>
								<td>ID</td>
								<td>8.1</td>
								<td>109</td>
							</tr>
							<tr>
								<td>2005_IL</td>
								<td>2005</td>
								<td>IL</td>
								<td>8.4</td>
								<td>1067</td>
							</tr>
							<tr>
								<td>2005_IN</td>
								<td>2005</td>
								<td>IN</td>
								<td>9.8</td>
								<td>610</td>
							</tr>
							<tr>
								<td>2005_IA</td>
								<td>2005</td>
								<td>IA</td>
								<td>4.8</td>
								<td>141</td>
							</tr>
							<tr>
								<td>2005_KS</td>
								<td>2005</td>
								<td>KS</td>
								<td>9.1</td>
								<td>241</td>
							</tr>
							<tr>
								<td>2005_KY</td>
								<td>2005</td>
								<td>KY</td>
								<td>15.3</td>
								<td>638</td>
							</tr>
							<tr>
								<td>2005_LA</td>
								<td>2005</td>
								<td>LA</td>
								<td>14.7</td>
								<td>661</td>
							</tr>
							<tr>
								<td>2005_ME</td>
								<td>2005</td>
								<td>ME</td>
								<td>12.4</td>
								<td>163</td>
							</tr>
							<tr>
								<td>2005_MD</td>
								<td>2005</td>
								<td>MD</td>
								<td>11.4</td>
								<td>656</td>
							</tr>
							<tr>
								<td>2005_MA</td>
								<td>2005</td>
								<td>MA</td>
								<td>12</td>
								<td>780</td>
							</tr>
							<tr>
								<td>2005_MI</td>
								<td>2005</td>
								<td>MI</td>
								<td>9.8</td>
								<td>985</td>
							</tr>
							<tr>
								<td>2005_MN</td>
								<td>2005</td>
								<td>MN</td>
								<td>5.4</td>
								<td>282</td>
							</tr>
							<tr>
								<td>2005_MS</td>
								<td>2005</td>
								<td>MS</td>
								<td>8.8</td>
								<td>248</td>
							</tr>
							<tr>
								<td>2005_MO</td>
								<td>2005</td>
								<td>MO</td>
								<td>10.7</td>
								<td>608</td>
							</tr>
							<tr>
								<td>2005_MT</td>
								<td>2005</td>
								<td>MT</td>
								<td>10.1</td>
								<td>96</td>
							</tr>
							<tr>
								<td>2005_NE</td>
								<td>2005</td>
								<td>NE</td>
								<td>5</td>
								<td>86</td>
							</tr>
							<tr>
								<td>2005_NV</td>
								<td>2005</td>
								<td>NV</td>
								<td>18.7</td>
								<td>457</td>
							</tr>
							<tr>
								<td>2005_NH</td>
								<td>2005</td>
								<td>NH</td>
								<td>10.7</td>
								<td>142</td>
							</tr>
							<tr>
								<td>2005_NJ</td>
								<td>2005</td>
								<td>NJ</td>
								<td>9.4</td>
								<td>823</td>
							</tr>
							<tr>
								<td>2005_NM</td>
								<td>2005</td>
								<td>NM</td>
								<td>20.1</td>
								<td>373</td>
							</tr>
							<tr>
								<td>2005_NY</td>
								<td>2005</td>
								<td>NY</td>
								<td>4.8</td>
								<td>944</td>
							</tr>
							<tr>
								<td>2005_NC</td>
								<td>2005</td>
								<td>NC</td>
								<td>11.4</td>
								<td>1000</td>
							</tr>
							<tr>
								<td>2005_ND</td>
								<td>2005</td>
								<td>ND</td>
								<td>0</td>
								<td>12</td>
							</tr>
							<tr>
								<td>2005_OH</td>
								<td>2005</td>
								<td>OH</td>
								<td>10.9</td>
								<td>1243</td>
							</tr>
							<tr>
								<td>2005_OK</td>
								<td>2005</td>
								<td>OK</td>
								<td>13.8</td>
								<td>478</td>
							</tr>
							<tr>
								<td>2005_OR</td>
								<td>2005</td>
								<td>OR</td>
								<td>10.4</td>
								<td>386</td>
							</tr>
							<tr>
								<td>2005_PA</td>
								<td>2005</td>
								<td>PA</td>
								<td>13.2</td>
								<td>1613</td>
							</tr>
							<tr>
								<td>2005_RI</td>
								<td>2005</td>
								<td>RI</td>
								<td>14.3</td>
								<td>156</td>
							</tr>
							<tr>
								<td>2005_SC</td>
								<td>2005</td>
								<td>SC</td>
								<td>9.9</td>
								<td>427</td>
							</tr>
							<tr>
								<td>2005_SD</td>
								<td>2005</td>
								<td>SD</td>
								<td>5.5</td>
								<td>40</td>
							</tr>
							<tr>
								<td>2005_TN</td>
								<td>2005</td>
								<td>TN</td>
								<td>14.5</td>
								<td>872</td>
							</tr>
							<tr>
								<td>2005_TX</td>
								<td>2005</td>
								<td>TX</td>
								<td>8.5</td>
								<td>1910</td>
							</tr>
							<tr>
								<td>2005_UT</td>
								<td>2005</td>
								<td>UT</td>
								<td>19.3</td>
								<td>438</td>
							</tr>
							<tr>
								<td>2005_VT</td>
								<td>2005</td>
								<td>VT</td>
								<td>8.5</td>
								<td>53</td>
							</tr>
							<tr>
								<td>2005_VA</td>
								<td>2005</td>
								<td>VA</td>
								<td>7.5</td>
								<td>581</td>
							</tr>
							<tr>
								<td>2005_WA</td>
								<td>2005</td>
								<td>WA</td>
								<td>13</td>
								<td>850</td>
							</tr>
							<tr>
								<td>2005_WV</td>
								<td>2005</td>
								<td>WV</td>
								<td>10.5</td>
								<td>184</td>
							</tr>
							<tr>
								<td>2005_WI</td>
								<td>2005</td>
								<td>WI</td>
								<td>9.3</td>
								<td>518</td>
							</tr>
							<tr>
								<td>2005_WY</td>
								<td>2005</td>
								<td>WY</td>
								<td>4.9</td>
								<td>26</td>
							</tr>
							<tr>
								<td>2014_AL</td>
								<td>2014</td>
								<td>AL</td>
								<td>15.2</td>
								<td>723</td>
							</tr>
							<tr>
								<td>2014_AK</td>
								<td>2014</td>
								<td>AK</td>
								<td>16.8</td>
								<td>124</td>
							</tr>
							<tr>
								<td>2014_AZ</td>
								<td>2014</td>
								<td>AZ</td>
								<td>12.6</td>
								<td>356</td>
							</tr>
							<tr>
								<td>2014_AR</td>
								<td>2014</td>
								<td>AR</td>
								<td>18.2</td>
								<td>1211</td>
							</tr>
							<tr>
								<td>2014_CA</td>
								<td>2014</td>
								<td>CA</td>
								<td>11.1</td>
								<td>4521</td>
							</tr>
							<tr>
								<td>2014_CO</td>
								<td>2014</td>
								<td>CO</td>
								<td>16.3</td>
								<td>899</td>
							</tr>
							<tr>
								<td>2014_CT</td>
								<td>2014</td>
								<td>CT</td>
								<td>17.6</td>
								<td>623</td>
							</tr>
							<tr>
								<td>2014_DE</td>
								<td>2014</td>
								<td>DE</td>
								<td>20.9</td>
								<td>189</td>
							</tr>
							<tr>
								<td>2014_FL</td>
								<td>2014</td>
								<td>FL</td>
								<td>13.2</td>
								<td>2634</td>
							</tr>
							<tr>
								<td>2014_GA</td>
								<td>2014</td>
								<td>GA</td>
								<td>11.9</td>
								<td>1206</td>
							</tr>
							<tr>
								<td>2014_HI</td>
								<td>2014</td>
								<td>HI</td>
								<td>10.9</td>
								<td>157</td>
							</tr>
							<tr>
								<td>2014_ID</td>
								<td>2014</td>
								<td>ID</td>
								<td>13.7</td>
								<td>212</td>
							</tr>
							<tr>
								<td>2014_IL</td>
								<td>2014</td>
								<td>IL</td>
								<td>13.1</td>
								<td>1705</td>
							</tr>
							<tr>
								<td>2014_IN</td>
								<td>2014</td>
								<td>IN</td>
								<td>18.2</td>
								<td>1172</td>
							</tr>
							<tr>
								<td>2014_IA</td>
								<td>2014</td>
								<td>IA</td>
								<td>8.8</td>
								<td>264</td>
							</tr>
							<tr>
								<td>2014_KS</td>
								<td>2014</td>
								<td>KS</td>
								<td>11.7</td>
								<td>332</td>
							</tr>
							<tr>
								<td>2014_KY</td>
								<td>2014</td>
								<td>KY</td>
								<td>24.7</td>
								<td>1077</td>
							</tr>
							<tr>
								<td>2014_LA</td>
								<td>2014</td>
								<td>LA</td>
								<td>16.9</td>
								<td>777</td>
							</tr>
							<tr>
								<td>2014_ME</td>
								<td>2014</td>
								<td>ME</td>
								<td>16.8</td>
								<td>216</td>
							</tr>
							<tr>
								<td>2014_MD</td>
								<td>2014</td>
								<td>MD</td>
								<td>17.4</td>
								<td>1070</td>
							</tr>
							<tr>
								<td>2014_MA</td>
								<td>2014</td>
								<td>MA</td>
								<td>19</td>
								<td>1289</td>
							</tr>
							<tr>
								<td>2014_MI</td>
								<td>2014</td>
								<td>MI</td>
								<td>18</td>
								<td>1762</td>
							</tr>
							<tr>
								<td>2014_MN</td>
								<td>2014</td>
								<td>MN</td>
								<td>9.6</td>
								<td>517</td>
							</tr>
							<tr>
								<td>2014_MS</td>
								<td>2014</td>
								<td>MS</td>
								<td>11.6</td>
								<td>336</td>
							</tr>
							<tr>
								<td>2014_MO</td>
								<td>2014</td>
								<td>MO</td>
								<td>18.2</td>
								<td>1067</td>
							</tr>
							<tr>
								<td>2014_MT</td>
								<td>2014</td>
								<td>MT</td>
								<td>12.4</td>
								<td>125</td>
							</tr>
							<tr>
								<td>2014_NE</td>
								<td>2014</td>
								<td>NE</td>
								<td>7.2</td>
								<td>125</td>
							</tr>
							<tr>
								<td>2014_NV</td>
								<td>2014</td>
								<td>NV</td>
								<td>18.4</td>
								<td>545</td>
							</tr>
							<tr>
								<td>2014_NH</td>
								<td>2014</td>
								<td>NH</td>
								<td>26.2</td>
								<td>334</td>
							</tr>
							<tr>
								<td>2014_NJ</td>
								<td>2014</td>
								<td>NJ</td>
								<td>14</td>
								<td>1253</td>
							</tr>
							<tr>
								<td>2014_NM</td>
								<td>2014</td>
								<td>NM</td>
								<td>27.3</td>
								<td>547</td>
							</tr>
							<tr>
								<td>2014_NY</td>
								<td>2014</td>
								<td>NY</td>
								<td>11.3</td>
								<td>2300</td>
							</tr>
							<tr>
								<td>2014_NC</td>
								<td>2014</td>
								<td>NC</td>
								<td>13.8</td>
								<td>1358</td>
							</tr>
							<tr>
								<td>2014_ND</td>
								<td>2014</td>
								<td>ND</td>
								<td>6.3</td>
								<td>43</td>
							</tr>
							<tr>
								<td>2014_OH</td>
								<td>2014</td>
								<td>OH</td>
								<td>24.6</td>
								<td>2744</td>
							</tr>
							<tr>
								<td>2014_OK</td>
								<td>2014</td>
								<td>OK</td>
								<td>20.3</td>
								<td>777</td>
							</tr>
							<tr>
								<td>2014_OR</td>
								<td>2014</td>
								<td>OR</td>
								<td>12.8</td>
								<td>522</td>
							</tr>
							<tr>
								<td>2014_PA</td>
								<td>2014</td>
								<td>PA</td>
								<td>21.9</td>
								<td>2732</td>
							</tr>
							<tr>
								<td>2014_RI</td>
								<td>2014</td>
								<td>RI</td>
								<td>23.4</td>
								<td>247</td>
							</tr>
							<tr>
								<td>2014_SC</td>
								<td>2014</td>
								<td>SC</td>
								<td>14.4</td>
								<td>701</td>
							</tr>
							<tr>
								<td>2014_SD</td>
								<td>2014</td>
								<td>SD</td>
								<td>7.8</td>
								<td>63</td>
							</tr>
							<tr>
								<td>2014_TN</td>
								<td>2014</td>
								<td>TN</td>
								<td>19.5</td>
								<td>1269</td>
							</tr>
							<tr>
								<td>2014_TX</td>
								<td>2014</td>
								<td>TX</td>
								<td>9.7</td>
								<td>2601</td>
							</tr>
							<tr>
								<td>2014_UT</td>
								<td>2014</td>
								<td>UT</td>
								<td>22.4</td>
								<td>603</td>
							</tr>
							<tr>
								<td>2014_VT</td>
								<td>2014</td>
								<td>VT</td>
								<td>13.9</td>
								<td>83</td>
							</tr>
							<tr>
								<td>2014_VA</td>
								<td>2014</td>
								<td>VA</td>
								<td>11.7</td>
								<td>980</td>
							</tr>
							<tr>
								<td>2014_WA</td>
								<td>2014</td>
								<td>WA</td>
								<td>13.3</td>
								<td>979</td>
							</tr>
							<tr>
								<td>2014_WV</td>
								<td>2014</td>
								<td>WV</td>
								<td>35.5</td>
								<td>627</td>
							</tr>
							<tr>
								<td>2014_WI</td>
								<td>2014</td>
								<td>WI</td>
								<td>15.1</td>
								<td>853</td>
							</tr>
							<tr>
								<td>2014_WY</td>
								<td>2014</td>
								<td>WY</td>
								<td>19.4</td>
								<td>109</td>
							</tr>
							<tr>
								<td>2015_AL</td>
								<td>2015</td>
								<td>AL</td>
								<td>15.2</td>
								<td>723</td>
							</tr>
							<tr>
								<td>2015_AK</td>
								<td>2015</td>
								<td>AK</td>
								<td>16.8</td>
								<td>124</td>
							</tr>
							<tr>
								<td>2015_AZ</td>
								<td>2015</td>
								<td>AZ</td>
								<td>12.6</td>
								<td>356</td>
							</tr>
							<tr>
								<td>2015_AR</td>
								<td>2015</td>
								<td>AR</td>
								<td>18.2</td>
								<td>1211</td>
							</tr>
							<tr>
								<td>2015_CA</td>
								<td>2015</td>
								<td>CA</td>
								<td>11.1</td>
								<td>4521</td>
							</tr>
							<tr>
								<td>2015_CO</td>
								<td>2015</td>
								<td>CO</td>
								<td>16.3</td>
								<td>899</td>
							</tr>
							<tr>
								<td>2015_CT</td>
								<td>2015</td>
								<td>CT</td>
								<td>17.6</td>
								<td>623</td>
							</tr>
							<tr>
								<td>2015_DE</td>
								<td>2015</td>
								<td>DE</td>
								<td>20.9</td>
								<td>189</td>
							</tr>
							<tr>
								<td>2015_FL</td>
								<td>2015</td>
								<td>FL</td>
								<td>13.2</td>
								<td>2634</td>
							</tr>
							<tr>
								<td>2015_GA</td>
								<td>2015</td>
								<td>GA</td>
								<td>11.9</td>
								<td>1206</td>
							</tr>
							<tr>
								<td>2015_HI</td>
								<td>2015</td>
								<td>HI</td>
								<td>10.9</td>
								<td>157</td>
							</tr>
							<tr>
								<td>2015_ID</td>
								<td>2015</td>
								<td>ID</td>
								<td>13.7</td>
								<td>212</td>
							</tr>
							<tr>
								<td>2015_IL</td>
								<td>2015</td>
								<td>IL</td>
								<td>13.1</td>
								<td>1705</td>
							</tr>
							<tr>
								<td>2015_IN</td>
								<td>2015</td>
								<td>IN</td>
								<td>18.2</td>
								<td>1172</td>
							</tr>
							<tr>
								<td>2015_IA</td>
								<td>2015</td>
								<td>IA</td>
								<td>8.8</td>
								<td>264</td>
							</tr>
							<tr>
								<td>2015_KS</td>
								<td>2015</td>
								<td>KS</td>
								<td>11.7</td>
								<td>332</td>
							</tr>
							<tr>
								<td>2015_KY</td>
								<td>2015</td>
								<td>KY</td>
								<td>24.7</td>
								<td>1077</td>
							</tr>
							<tr>
								<td>2015_LA</td>
								<td>2015</td>
								<td>LA</td>
								<td>16.9</td>
								<td>777</td>
							</tr>
							<tr>
								<td>2015_ME</td>
								<td>2015</td>
								<td>ME</td>
								<td>16.8</td>
								<td>216</td>
							</tr>
							<tr>
								<td>2015_MD</td>
								<td>2015</td>
								<td>MD</td>
								<td>17.4</td>
								<td>1070</td>
							</tr>
							<tr>
								<td>2015_MA</td>
								<td>2015</td>
								<td>MA</td>
								<td>19</td>
								<td>1289</td>
							</tr>
							<tr>
								<td>2015_MI</td>
								<td>2015</td>
								<td>MI</td>
								<td>18</td>
								<td>1762</td>
							</tr>
							<tr>
								<td>2015_MN</td>
								<td>2015</td>
								<td>MN</td>
								<td>9.6</td>
								<td>517</td>
							</tr>
							<tr>
								<td>2015_MS</td>
								<td>2015</td>
								<td>MS</td>
								<td>11.6</td>
								<td>336</td>
							</tr>
							<tr>
								<td>2015_MO</td>
								<td>2015</td>
								<td>MO</td>
								<td>18.2</td>
								<td>1067</td>
							</tr>
							<tr>
								<td>2015_MT</td>
								<td>2015</td>
								<td>MT</td>
								<td>12.4</td>
								<td>125</td>
							</tr>
							<tr>
								<td>2015_NE</td>
								<td>2015</td>
								<td>NE</td>
								<td>7.2</td>
								<td>125</td>
							</tr>
							<tr>
								<td>2015_NV</td>
								<td>2015</td>
								<td>NV</td>
								<td>18.4</td>
								<td>545</td>
							</tr>
							<tr>
								<td>2015_NH</td>
								<td>2015</td>
								<td>NH</td>
								<td>26.2</td>
								<td>334</td>
							</tr>
							<tr>
								<td>2015_NJ</td>
								<td>2015</td>
								<td>NJ</td>
								<td>14</td>
								<td>1253</td>
							</tr>
							<tr>
								<td>2015_NM</td>
								<td>2015</td>
								<td>NM</td>
								<td>27.3</td>
								<td>547</td>
							</tr>
							<tr>
								<td>2015_NY</td>
								<td>2015</td>
								<td>NY</td>
								<td>11.3</td>
								<td>2300</td>
							</tr>
							<tr>
								<td>2015_NC</td>
								<td>2015</td>
								<td>NC</td>
								<td>13.8</td>
								<td>1358</td>
							</tr>
							<tr>
								<td>2015_ND</td>
								<td>2015</td>
								<td>ND</td>
								<td>6.3</td>
								<td>43</td>
							</tr>
							<tr>
								<td>2015_OH</td>
								<td>2015</td>
								<td>OH</td>
								<td>24.6</td>
								<td>2744</td>
							</tr>
							<tr>
								<td>2015_OK</td>
								<td>2015</td>
								<td>OK</td>
								<td>20.3</td>
								<td>777</td>
							</tr>
							<tr>
								<td>2015_OR</td>
								<td>2015</td>
								<td>OR</td>
								<td>12.8</td>
								<td>522</td>
							</tr>
							<tr>
								<td>2015_PA</td>
								<td>2015</td>
								<td>PA</td>
								<td>21.9</td>
								<td>2732</td>
							</tr>
							<tr>
								<td>2015_RI</td>
								<td>2015</td>
								<td>RI</td>
								<td>23.4</td>
								<td>247</td>
							</tr>
							<tr>
								<td>2015_SC</td>
								<td>2015</td>
								<td>SC</td>
								<td>14.4</td>
								<td>701</td>
							</tr>
							<tr>
								<td>2015_SD</td>
								<td>2015</td>
								<td>SD</td>
								<td>7.8</td>
								<td>63</td>
							</tr>
							<tr>
								<td>2015_TN</td>
								<td>2015</td>
								<td>TN</td>
								<td>19.5</td>
								<td>1269</td>
							</tr>
							<tr>
								<td>2015_TX</td>
								<td>2015</td>
								<td>TX</td>
								<td>9.7</td>
								<td>2601</td>
							</tr>
							<tr>
								<td>2015_UT</td>
								<td>2015</td>
								<td>UT</td>
								<td>22.4</td>
								<td>603</td>
							</tr>
							<tr>
								<td>2015_VT</td>
								<td>2015</td>
								<td>VT</td>
								<td>13.9</td>
								<td>83</td>
							</tr>
							<tr>
								<td>2015_VA</td>
								<td>2015</td>
								<td>VA</td>
								<td>11.7</td>
								<td>980</td>
							</tr>
							<tr>
								<td>2015_WA</td>
								<td>2015</td>
								<td>WA</td>
								<td>13.3</td>
								<td>979</td>
							</tr>
							<tr>
								<td>2015_WV</td>
								<td>2015</td>
								<td>WV</td>
								<td>35.5</td>
								<td>627</td>
							</tr>
							<tr>
								<td>2015_WI</td>
								<td>2015</td>
								<td>WI</td>
								<td>15.1</td>
								<td>853</td>
							</tr>
							<tr>
								<td>2015_WY</td>
								<td>2015</td>
								<td>WY</td>
								<td>19.4</td>
								<td>109</td>
							</tr>
							<tr>
								<td>2016_AL</td>
								<td>2016</td>
								<td>AL</td>
								<td>16.2</td>
								<td>756</td>
							</tr>
							<tr>
								<td>2016_AK</td>
								<td>2016</td>
								<td>AK</td>
								<td>16.8</td>
								<td>128</td>
							</tr>
							<tr>
								<td>2016_AZ</td>
								<td>2016</td>
								<td>AZ</td>
								<td>20.3</td>
								<td>1382</td>
							</tr>
							<tr>
								<td>2016_AR</td>
								<td>2016</td>
								<td>AR</td>
								<td>14</td>
								<td>401</td>
							</tr>
							<tr>
								<td>2016_CA</td>
								<td>2016</td>
								<td>CA</td>
								<td>11.2</td>
								<td>4654</td>
							</tr>
							<tr>
								<td>2016_CO</td>
								<td>2016</td>
								<td>CO</td>
								<td>16.6</td>
								<td>942</td>
							</tr>
							<tr>
								<td>2016_CT</td>
								<td>2016</td>
								<td>CT</td>
								<td>27.4</td>
								<td>971</td>
							</tr>
							<tr>
								<td>2016_DE</td>
								<td>2016</td>
								<td>DE</td>
								<td>30.8</td>
								<td>282</td>
							</tr>
							<tr>
								<td>2016_FL</td>
								<td>2016</td>
								<td>FL</td>
								<td>23.7</td>
								<td>4728</td>
							</tr>
							<tr>
								<td>2016_GA</td>
								<td>2016</td>
								<td>GA</td>
								<td>13.3</td>
								<td>1394</td>
							</tr>
							<tr>
								<td>2016_HI</td>
								<td>2016</td>
								<td>HI</td>
								<td>12.8</td>
								<td>191</td>
							</tr>
							<tr>
								<td>2016_ID</td>
								<td>2016</td>
								<td>ID</td>
								<td>15.2</td>
								<td>243</td>
							</tr>
							<tr>
								<td>2016_IL</td>
								<td>2016</td>
								<td>IL</td>
								<td>18.9</td>
								<td>2411</td>
							</tr>
							<tr>
								<td>2016_IN</td>
								<td>2016</td>
								<td>IN</td>
								<td>24</td>
								<td>1526</td>
							</tr>
							<tr>
								<td>2016_IA</td>
								<td>2016</td>
								<td>IA</td>
								<td>10.6</td>
								<td>314</td>
							</tr>
							<tr>
								<td>2016_KS</td>
								<td>2016</td>
								<td>KS</td>
								<td>11.1</td>
								<td>313</td>
							</tr>
							<tr>
								<td>2016_KY</td>
								<td>2016</td>
								<td>KY</td>
								<td>33.5</td>
								<td>1419</td>
							</tr>
							<tr>
								<td>2016_LA</td>
								<td>2016</td>
								<td>LA</td>
								<td>21.8</td>
								<td>996</td>
							</tr>
							<tr>
								<td>2016_ME</td>
								<td>2016</td>
								<td>ME</td>
								<td>28.7</td>
								<td>353</td>
							</tr>
							<tr>
								<td>2016_MD</td>
								<td>2016</td>
								<td>MD</td>
								<td>33.2</td>
								<td>2044</td>
							</tr>
							<tr>
								<td>2016_MA</td>
								<td>2016</td>
								<td>MA</td>
								<td>33</td>
								<td>2227</td>
							</tr>
							<tr>
								<td>2016_MI</td>
								<td>2016</td>
								<td>MI</td>
								<td>24.4</td>
								<td>2347</td>
							</tr>
							<tr>
								<td>2016_MN</td>
								<td>2016</td>
								<td>MN</td>
								<td>12.5</td>
								<td>672</td>
							</tr>
							<tr>
								<td>2016_MS</td>
								<td>2016</td>
								<td>MS</td>
								<td>12.1</td>
								<td>352</td>
							</tr>
							<tr>
								<td>2016_MO</td>
								<td>2016</td>
								<td>MO</td>
								<td>23.6</td>
								<td>1371</td>
							</tr>
							<tr>
								<td>2016_MT</td>
								<td>2016</td>
								<td>MT</td>
								<td>11.7</td>
								<td>119</td>
							</tr>
							<tr>
								<td>2016_NE</td>
								<td>2016</td>
								<td>NE</td>
								<td>6.4</td>
								<td>120</td>
							</tr>
							<tr>
								<td>2016_NV</td>
								<td>2016</td>
								<td>NV</td>
								<td>21.7</td>
								<td>665</td>
							</tr>
							<tr>
								<td>2016_NH</td>
								<td>2016</td>
								<td>NH</td>
								<td>39</td>
								<td>481</td>
							</tr>
							<tr>
								<td>2016_NJ</td>
								<td>2016</td>
								<td>NJ</td>
								<td>23.2</td>
								<td>2056</td>
							</tr>
							<tr>
								<td>2016_NM</td>
								<td>2016</td>
								<td>NM</td>
								<td>25.2</td>
								<td>500</td>
							</tr>
							<tr>
								<td>2016_NY</td>
								<td>2016</td>
								<td>NY</td>
								<td>18</td>
								<td>3638</td>
							</tr>
							<tr>
								<td>2016_NC</td>
								<td>2016</td>
								<td>NC</td>
								<td>19.7</td>
								<td>1956</td>
							</tr>
							<tr>
								<td>2016_ND</td>
								<td>2016</td>
								<td>ND</td>
								<td>10.6</td>
								<td>77</td>
							</tr>
							<tr>
								<td>2016_OH</td>
								<td>2016</td>
								<td>OH</td>
								<td>39.1</td>
								<td>4329</td>
							</tr>
							<tr>
								<td>2016_OK</td>
								<td>2016</td>
								<td>OK</td>
								<td>21.5</td>
								<td>813</td>
							</tr>
							<tr>
								<td>2016_OR</td>
								<td>2016</td>
								<td>OR</td>
								<td>11.9</td>
								<td>506</td>
							</tr>
							<tr>
								<td>2016_PA</td>
								<td>2016</td>
								<td>PA</td>
								<td>37.9</td>
								<td>4627</td>
							</tr>
							<tr>
								<td>2016_RI</td>
								<td>2016</td>
								<td>RI</td>
								<td>30.8</td>
								<td>326</td>
							</tr>
							<tr>
								<td>2016_SC</td>
								<td>2016</td>
								<td>SC</td>
								<td>18.1</td>
								<td>879</td>
							</tr>
							<tr>
								<td>2016_SD</td>
								<td>2016</td>
								<td>SD</td>
								<td>8.4</td>
								<td>69</td>
							</tr>
							<tr>
								<td>2016_TN</td>
								<td>2016</td>
								<td>TN</td>
								<td>24.5</td>
								<td>1630</td>
							</tr>
							<tr>
								<td>2016_TX</td>
								<td>2016</td>
								<td>TX</td>
								<td>10.1</td>
								<td>2831</td>
							</tr>
							<tr>
								<td>2016_UT</td>
								<td>2016</td>
								<td>UT</td>
								<td>22.4</td>
								<td>635</td>
							</tr>
							<tr>
								<td>2016_VT</td>
								<td>2016</td>
								<td>VT</td>
								<td>22.2</td>
								<td>125</td>
							</tr>
							<tr>
								<td>2016_VA</td>
								<td>2016</td>
								<td>VA</td>
								<td>16.7</td>
								<td>1405</td>
							</tr>
							<tr>
								<td>2016_WA</td>
								<td>2016</td>
								<td>WA</td>
								<td>14.5</td>
								<td>1102</td>
							</tr>
							<tr>
								<td>2016_WV</td>
								<td>2016</td>
								<td>WV</td>
								<td>52</td>
								<td>884</td>
							</tr>
							<tr>
								<td>2016_WI</td>
								<td>2016</td>
								<td>WI</td>
								<td>19.3</td>
								<td>1074</td>
							</tr>
							<tr>
								<td>2016_WY</td>
								<td>2016</td>
								<td>WY</td>
								<td>17.6</td>
								<td>99</td>
							</tr>
							<tr>
								<td></td>
								<td>&nbsp</td>
								<td>&nbsp</td>
								<td>&nbsp</td>
								<td>&nbsp</td>
							</tr>
						</tbody>
					</table>	
					<p>Dataset taken from <cite>"Drug Overdose Mortality by State", 
						National Center for Health Statistics Pressroom, Center for Disease Control and Prevention: 
						CDC, Last Updated 10 Jan. 2018, www.cdc.gov/. Accessed 28 Sept. 2018. 
						Path: <a href="https://www.cdc.gov/nchs/pressroom/sosmap/drug_poisoning_mortality/drug_poisoning.htm">https://www.cdc.gov/nchs/pressroom/sosmap/drug_poisoning_mortality/drug_poisoning.htm</a></cite>
					</p>
			</body>
<div id="footer">
		<p>Georgia Institute of Technology | Data Science and Analytics Boot Camp | October 2018</p>
	  </div>
</html>










